@model KU.Models.Zlecenie

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Zlecenie</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.Label("Miejsce nadania", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Miejsce_nadania)
                @Html.ValidationMessageFor(model => model.Miejsce_nadania)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Miejsce dostawy", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Miejsce_dostawy)
                @Html.ValidationMessageFor(model => model.Miejsce_dostawy)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Odbiorca", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Odbiorca)
                @Html.ValidationMessageFor(model => model.Odbiorca)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Zleceniodawca", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Zleceniodawca)
                @Html.ValidationMessageFor(model => model.Zleceniodawca)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Zawartość", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Zawartosc)
                @Html.ValidationMessageFor(model => model.Zawartosc)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Ilość opakowań", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ilosc_opakowan)
                @Html.ValidationMessageFor(model => model.Ilosc_opakowan)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Rodzaj opakowań", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rodzaj_opakowan)
                @Html.ValidationMessageFor(model => model.Rodzaj_opakowan)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Materialy_niebezpieczne, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Materialy_niebezpieczne)
                @Html.ValidationMessageFor(model => model.Materialy_niebezpieczne)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pobranie_za_przesylke, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pobranie_za_przesylke)
                @Html.ValidationMessageFor(model => model.Pobranie_za_przesylke)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Priorytet, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Priorytet)
                @Html.ValidationMessageFor(model => model.Priorytet)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Kategoria_zlecenia, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Kategoria_zlecenia)
                @Html.ValidationMessageFor(model => model.Kategoria_zlecenia)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Kurier, "Kurier", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Kurier", String.Empty)
                @Html.ValidationMessageFor(model => model.Kurier)
            </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
        </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
