@model KU.Models.Zlecenie

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Zlecenie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Miejsce_nadania)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Miejsce_nadania)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Miejsce_dostawy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Miejsce_dostawy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Odbiorca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Odbiorca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zleceniodawca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zleceniodawca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zawartosc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zawartosc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ilosc_opakowan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ilosc_opakowan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rodzaj_opakowan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rodzaj_opakowan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Materialy_niebezpieczne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Materialy_niebezpieczne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pobranie_za_przesylke)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pobranie_za_przesylke)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Priorytet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priorytet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kategoria_zlecenia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kategoria_zlecenia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.UserName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
