@model KU.Models.Zlecenie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Zlecenie</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Miejsce nadania")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Miejsce_nadania)
        </dd>

        <dt>
            @Html.DisplayName("Miejsce dostawy")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Miejsce_dostawy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Odbiorca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Odbiorca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zleceniodawca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zleceniodawca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zawartosc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zawartosc)
        </dd>

        <dt>
            @Html.DisplayName("Ilość opakowań")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ilosc_opakowan)
        </dd>

        <dt>
            @Html.DisplayName("Rodzaj opakowań")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rodzaj_opakowan)
        </dd>

        <dt>
            @Html.DisplayName("Materiały niebezpieczne")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Materialy_niebezpieczne)
        </dd>

        <dt>
            @Html.DisplayName("Pobranie za przesyłkę");
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pobranie_za_przesylke)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Priorytet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priorytet)
        </dd>

        <dt>
            @Html.DisplayName("Kateogria")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kategoria_zlecenia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kurier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StatusZlecenie.Nazwa)
        </dd>

    </dl>
</div>
    <button type="button" class="btn btn-primary" onclick="location.href = '@Url.Action("NavigateGMaps", "Zlecenie", new { id = Model.ZlecenieID})'">Nawiguj</button>
    <br> 
    <br>
    <button type="button" class="btn btn-primary" onclick="location.href = '@Url.Action("CompletedConfirmation", "Zlecenie", new { id = Model.ZlecenieID })'">Dostarczono</button>
    <br> 
    <br>
    <button type="button" class="btn btn-primary" onclick="location.href = '@Url.Action("Index", "Zlecenie")'">Powrót do listy</button>
  
