@model IEnumerable<KU.Models.Zlecenie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

    @if (User.Identity.IsAuthenticated) {  

        foreach (var item in Model)
        {
            if (item.Priorytet) { 
                <button type="button" class="btn btn-warning" onclick="location.href = '@Url.Action("Details", "Zlecenie", new { id = item.ZlecenieID })'">
                    @Html.ActionLink(item.Kategoria_zlecenia + ": " + item.ZlecenieID, "Details", new { id = item.ZlecenieID }) <br>
                    Adres: @item.Miejsce_dostawy<br>
                    Odbiorca: @item.Odbiorca<br>
                </button>
            }
            else { 
                <button type="button" class="btn btn-default" onclick="location.href = '@Url.Action("Details", "Zlecenie", new { id = item.ZlecenieID })'">
                    @Html.ActionLink(item.Kategoria_zlecenia + ": " + item.ZlecenieID, "Details", new {id = item.ZlecenieID }) <br>
                    Adres: @item.Miejsce_dostawy<br>
                    Odbiorca: @item.Odbiorca<br>
                </button>
            }
        }

    }

